@page "/Board"
@inject NavigationManager Navigation
@inject HttpClient Http
@using DeskUniverse_Frontend.Models
@inject UserService UserService
@inject CharacterService CharacterService
@inject CampaignService CampaignService
@inject BoardService BoardService


<!DOCTYPE html>
<html lang="en">

    <head>

        <title>Document</title>
        <link rel="stylesheet" href="css/style.css">

        <style>
            table, tr, td
            {
                border:1px solid white;
                
            }
        </style>

    </head>
    <body>

        @if (UserService.Logado == true)
        {
            <div class="body">

                <section class="container">
                    <div class="row">

                        <table class="table" align="center" style="width:1%; background: url(/img/mapa_teste.jpg) no-repeat fixed center; background-size: 100% 100%;">
                            <tbody>

                                @for (y = 5; y > 0; y--)
                                {
                                    
                                    <tr>
                                        @for (x = 0; x < 5; x++, Position(x,y))
                                        {
                                            <td>
                                                <div id="@position" style="width: 75px; height: 75px; padding: 1px; border: 0px solid #aaaaaa;" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                                            </td>
                                        }
                                    </tr>

                                }
                                
                            </tbody>

                            <tfoot>

                                <img id="drag1" src="/img/token_teste.png" draggable="true" ondragstart="drag(event)" width="75" height="75">
                            
                            </tfoot>
                        </table>
                        

                    </div>
                </section>

            </div>
        }
        else{Navigation.NavigateTo("/Login");}
    </body>
</html>

@code
{
    public int x;
    public int y;
    public string position;

    public string Position(int x, int y)
    {
        x = x + 1;

        string sx = Convert.ToString(x);
        string sy = Convert.ToString(y);

        return (position = $"{sx},{sy}");
    }
}