@page "/Login"
@inject NavigationManager Navigation
@inject HttpClient Http
@using DeskUniverse_Frontend.Models
@inject UserService UserService

<!DOCTYPE html>
<html>
    <head>
        <style>
            p {color: red;}

            .login{
                display: flex;
                justify-content: center;
            }
        </style>
    </head>
    <body>
        <div class="body">
            <div class="container">
            <div class="row">
                <div class="login">
                    <div class="card" style="width: 18rem; border: none;">
                        @if (msgInvalido == true)
                        {
                            <p>Usu치rio ou senha incorreta</p>
                        }

                        <label for="Username">Usu치rio: </label>
                        <input type="text" class="form-control" @bind="username" id="Username" name="Username"> <br>

                        <label for="Password">Senha: </label>
                        <input type="password" class="form-control" @bind="password" id="Password" name="Password"> <br>

                        <button type="button" class="btn btn-primary" @onclick="ValidarLogin">Logar</button>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </body>
</html>

@code
{
    // Vari치veis ----------------------------------------------------------------------------------------------------------------------
    private string? username;
    private string? password;
    private bool msgInvalido = false;

    // Lista para armazenar os Usu치rios salvos no banco de dados ----------------------------------------------------------------------
    public List<User>? users { get; set; } = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        users = await Http.GetFromJsonAsync<List<User>?>("user");
    }

    // Valida e login e salva os dados para serem usados depois -----------------------------------------------------------------------
    private void ValidarLogin()
    {
        foreach (var _user in users)
        {
            if(_user.Username == username.ToUpper() && _user.Password == password)
            {
                UserService.Id = _user.Id;
                UserService.Username = username.ToUpper();
                UserService.Password = password;
                UserService.Logado = true;
                Navigation.NavigateTo("/Home");
            }
            
            else
            {
                msgInvalido = true;
            }
        }
    }
}