@inherits LayoutComponentBase
@inject UserService UserService
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <style>
        body {
            height: 100vh;
            width: 100%;
        }
        .table>:not(caption)>*>*{
            background-color: transparent!important;
        }

        .body {
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
        }

        .navbar {
            position: absolute;
            width: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div>
            <a href="" class="navbar-brand">DeskUniverse</a>
        </div>
        <div>
            @if (UserService.Logado == true)

            {
                <a class="navbar-brand" style="color:blue;">@UserService.Username</a>
                <a class="navbar-brand" style="color:red; cursor:pointer" @onclick="LogOut">Logout <i
                        class="bi bi-door-closed"></i></a>
            }

            else

            {
                <a href="/Login" class="navbar-brand" style="color:green;">Entrar <i class="bi bi-door-open"></i></a>
                <a href="/Register" class="navbar-brand" style="color:blue;">Registrar-se <i
                        class="bi bi-journal-arrow-up"></i></a>
            }
        </div>
    </nav>
    @Body
</body>

</html>

@code

{
    public void LogOut()

    {

        UserService.LogOut();

        Navigation.NavigateTo("/Login");

    }

}